body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}
#form-container {
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin: 60px auto;
  padding: 40px;
}
.form-step {
  display: none;
  flex-direction: column;
  gap: 20px;
}
.form-step.active {
  display: block;
}
input {
   padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}


input:focus {
  border-color: #4a90e2;
  outline: none;
}
button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.next-button {
  background: #4a90e2;
  color: white; }
.prev-button {
  background: #ccc;
}

#submit-button {
  background: green;
  color: white; }
  h2 {
  margin-bottom: 10px;
  font-size: 40px;
}
button:hover {
  opacity: 0.9;
}
.drop-zone {
  border: 2px dashed #4a90e2;
  padding: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #4a90e2;
  transition: 0.3s;
  margin-bottom: 30px;
}

.drop-zone:hover {
  background-color: #eaf3ff;
}
#confirmation-message {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
#summary {
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  background: #f9fafb;
  padding: 20px;
  border-radius: 8px; }
  
  #summary img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.form-step {
  display: none;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.form-step.active {
  display: flex;
  opacity: 1;
}
