body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}


.cal-section {
  background-color: #222;
  width: 350px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


.first-div {
  background-color: black;
  height: 90px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  color: white;
  font-size: 32px;
}

.display {
  margin: 0;
  font-weight: bold;
}

.second-div {
  margin-top: 20px;
  display: grid;
  gap: 12px;
}


.button1-div {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}


button {
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
}

.signs-button {
  background-color: orange;
  color: white;
}


.signs1-button {
  background-color: gainsboro;
  color: black;
}

.signs2-button {
  background-color: red;
  color: white;
}


.equal-button {
  background-color: green;
  color: white;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
